@font-face {
    font-family: JTEnergyVariable;
    src: url(../fonts/jt-bold.ttf);
    font-display: swap
}

@font-face {
    font-family: JTEnergyVariable;
    src: url(../fonts/jt-placard.ttf);
    font-display: swap
}

body,
html {
    font-family: JTEnergyVariable;
    color: #383838;
    font-size: 16px;
    height: 100%
}
.checkout-form textarea{
    height:130px;
    resize: none;
}
.icon-img{
    width:130px;
    height:130px;
}
.yellow-bg{
    background-color:rgba(252, 175, 23, 0.11)!important;
    
}
.yellow-border{border-color : #fcaf17 !important;;}
.h-30,
.search-form input.form-control {
    height: 30px
}
/* .checkout-form label{
    font-weight:bold;
} */
.checkout-form input[type="checkbox"]{
    width: 13px;
    height: 13px;
    margin-top: 7px;
}
.h-43{height: 43px!important;}
.fs-36px{
    font-size:36px;
}
.stayInTouch input[type=submit],
form button,
form input.form-control {
    height: 50px
}

body {
    display: flex;
    flex-direction: column
}

.light-gray-color,
a:hover {
    color: #929292
}

.content {
    flex: 1 0 auto
}

footer {
    flex-shrink: 0;
    padding-top: 50px;
    padding-bottom: 50px
}

.mb-30 {
    margin-bottom: 30px
}

a {
    text-decoration: none
}

.logo {
    width: 170px
}

.gray-color,
.search-form input::placeholder {
    color: #383838 !important
}
.supplier-form input:not(input[type="submit"]),.supplier-form select,.agent-form input:not(input[type="submit"]),.agent-form select,.checkout-form input:not(input[type="submit"]),.checkout-form select{
  color:#7d7d7d;
}
.blue-color {
    color: #008fd5
}

.bg-blue {
    background-color: #008fd5;
    color: #fff
}

.orange-bg,.orange-bg:active,.orange-bg:hover,.orange-bg:focus,.orange-bg:active:focus {
    background-color: #fcaf17;
    color: #fff;
    box-shadow: none;
}

.green-color {
    color: #39b54a
}

.green-bg {
    background-color: #8dc63f
}
.fa-check-circle{color: #8dc63f}

.index-banner h1,
.purple-color,.purple-color:hover {
    color: #6f2c91
}

.purple-bg {
    background-color: #6f2c91;
    color: #fff
}

.gray-bg,
.home-content .our-partners,
form input.form-control {
    background-color: #f6f6f6
}

.accordion-button {
    padding: .5rem 4rem
}

.dark-border {
    border: 1px solid #383838;
    border-radius: 3.1px
}

.login-form {
    border: 1px solid #d5d5d5;
    margin-top: 30px
}

.login-form h2 {
    color: #6f2c91;
    font-size: 28px;
    letter-spacing: .84px;
    text-align: center
}

.adult-number select.form-control:focus,
.appearance-auto.form-control:focus,
.appearance-auto.form-control:hover,
.dark-color,
.nav-link:focus:not(.purple-bg),
.nav-link:hover:not(.purple-bg) {
    color: #1c1c1c
}

.br-25px {
    border-radius: 25px
}

section {
    padding-top: 80px;
    padding-bottom: 80px
}

.form-check-input:checked {
    background-color: #6f2c91;
    border-color: #6f2c91
}
.confirm-privacy:checked,.save-payment-data:checked {
    background-color: #fcaf17;
    border-color:#fcaf17
}

.accordion-button:focus,
.navbar-toggler:focus,
.top-sorting button.btn:focus {
    box-shadow: none
}

.form-check-input:focus,
.form-control:focus {
    box-shadow: none;
    border-color: #d5d5d5;
    color: #929292
}

.borderd5 {
    border: 1px solid #d5d5d5
}

.fs-14 {
    font-size: 14px !important
}

.fs-12 {
    font-size: 12px !important
}
.fs-10 {
    font-size: 10px !important
}

.fs-18 {
    font-size: 18px !important
}
.fs-16px{
    font-size:16px!important;
}
.events img {
    height: 238px
}

.events h2,
.our-partners p {
    margin-bottom: 45px
}

h1 {
    font-size: 48px
}

h2 {
    font-size: 40px
}

h3 {
    font-size: 32
}

.gray-bg p,
.stayInTouch input[type=submit],
.stayInTouch p,
.accordion-header span {
    font-size: 18px
}

.gray-bg form a,
.login-banner p {
    font-size: 14px
}
.red-bg{background-color:#f04e45}
.red-color {
    color: #f04e45
}

.tours-list img {
    width: 100%;
    height: 100%
}

.left-side-tour {
    height: 100%
}

.yellow-color,.yellow-color:hover{
    color: #faad17
}
.fs-24px {
    font-size: 24px!important
}

.fs-16 {
    font-size: 16px !important
}

.single-activity p {
    display: inline-block
}

.accordion-button::after,
.child-list,
.fa-angle-up,
.filter-links {
    display: none
}

.filter-container-top.fltr-top {
    background-color: #ebebeb;
    display: none
}

.Checkbox {
    width: 12px;
    height: 12px;
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 9px
}

.child-list ul,
ul.mother-list {
    list-style-type: none;
    padding-left: 1rem;
    margin-bottom: 0
}

.filter-links.categories-filter,
.language-filter .single-activity p {
    display: block
}

input[value=Filter] {
    height: 30px;
    background-color: #2497e3;
    display: block;
    color: #fff;
    border: none;
    width: 160px;
    margin-top: 50px
}

.fltr-top,
.mother-list {
    cursor: pointer
}

.index-banner img {
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 10px
}

.accordion-header {
    border-bottom: 1px solid #d5d5d5
}

.accordion-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

input[type=date]::-webkit-calendar-picker-indicator {
    background: 0 0;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto
}

.accordion-button:not(.collapsed) {
    box-shadow: inset 0 -2px 0 #6f2c91
}

.search-form button[type=submit] {
    width: 62px;
    height: 62px;
    background-color: #fcaf17;
    color: #fff
}

.nav-link.purple-bg:focus,
.nav-link.purple-bg:hover {
    color: #fff
}

.range-slider {
    width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 6em
}

.range-slider input[type=range],
.range-slider svg {
    position: absolute;
    left: 0;
    bottom: 25px
}

.range-slider input[type=number] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.6em;
    -moz-appearance: textfield
}

.range-slider input[type=number]::-webkit-inner-spin-button,
.range-slider input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none
}

.range-slider input[type=number]:invalid,
.range-slider input[type=number]:out-of-range {
    border: 2px solid tomato
}

.range-slider input[type=range] {
    -webkit-appearance: none;
    width: 100%
}

.range-slider input[type=range]:focus {
    outline: 0
}

.range-slider input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2497e3
}

.range-slider input[type=range]:focus::-ms-fill-lower {
    background: #2497e3
}

.range-slider input[type=range]:focus::-ms-fill-upper {
    background: #2497e3
}

.range-slider input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0
}

.range-slider input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0 0 0 #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px
}

.range-slider input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0
}

.range-slider input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0 0 0 #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer
}

.range-slider input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: 0 0;
    border-color: transparent;
    color: transparent
}

.range-slider input[type=range]::-ms-fill-lower,
.range-slider input[type=range]::-ms-fill-upper {
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0
}

.range-slider input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0 0 0 #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer
}

.login-banner .left-sec img {
    width: 400px
}

.our-partners .mySwiper {
    height: 165px
}

.our-partners .mySwiper img {
    display: block;
    margin: auto
}

.activities img {
    height: 60px
}
.fa-check-circle:before{content:"\f058"}
.fa-calendar-check-o:before{content:"\f274"}
.fa-times-circle-o:before{content:"\f05c"}
.fa-times-circle-o{
    top: -17px;
    right: -10px;
    font-size: 25px;
    cursor: pointer;
}
.dropdown-toggle.adult-container:after{
    content: "\f107";
    right: 0;
    position: absolute;
    top: 5px;
    font-family: FontAwesome;
    color: #212529;
    font-weight: 700;
    border: 0
}
select {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  
  select:focus {
    background-image:
      linear-gradient(45deg, #fcaf17 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, #fcaf17 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: #fcaf17;
    outline: 0;
  }
  
@media(min-width:1200px) {
    .activities .col-md-4.col-sm-6 {
        width: 20% !important
    }
}

@media(max-width:992px) {
    .accordion-body i {
        width: 21px
    }
    .border-end {
        border-right: none !important;
        border-left: none !important
    }
    .nav-link.purple-bg,
    .nav-link.purple-bg:focus,
    .nav-link.purple-bg:hover {
        background-color: transparent;
        color: #929292
    }
    nav .dropdown-menu.show {
        position: inherit
    }
    .search-form {
        width: 100%
    }
    .navbar-collapse {
        margin-top: 20px
    }
    .events h3 {
        font-size: 18px
    }
    .events p {
        font-size: 14px
    }
    .events .borderd5,
    .navbar-collapse .dark-border {
        border: none
    }
    .stayInTouch {
        text-align: center
    }
    .filter-container-top.fltr-top {
        display: block;
        margin-bottom: 0 !important
    }
    .filter-group,
    .filter-links.categories-filter {
        display: none;
        margin-top: 0 !important
    }
    .order2 {
        order: 2
    }
    .top-sorting {
        margin-top: 2rem
    }
    .login-banner .left-sec img {
        display: block;
        margin: auto
    }
    h1 {
        font-size: 40px
    }
    h2 {
        font-size: 32px
    }
    h3 {
        font-size: 26px
    }
}

@media (max-width:767px) {
    .accordion-button {
        padding: .5rem 2rem
    }
    .index-banner img {
        width: 40px;
        height: 40px
    }
    .accordion-container p,
    .accordion-container span {
        font-size: 14px
    }
    .events .bg-white {
        background-color: transparent !important
    }
    .stayInTouch form {
        float: none !important;
        width: 100% !important;
        margin-top: 4%
    }
    .events img,
    footer .logo {
        margin-bottom: 20px
    }
    .bottom-footer,
    .top-footer {
        display: block !important
    }
    .top-footer div:last-of-type a {
        display: block;
        margin-bottom: 10px
    }
    .bottom-footer,
    .top-footer div:last-of-type a:last-of-type {
        margin-right: 1rem;
        margin-left: 1rem
    }
    footer span {
        text-align: center;
        display: block
    }
    .top-footer {
        margin-bottom: 15px
    }
    section {
        padding-top: 40px;
        padding-bottom: 40px
    }
    .top-sorting .dropdown,
    .top-sorting .dropdown button,
    .top-sorting .dropdown-menu.show {
        width: 100%
    }
    .tours-list img {
        height: 300px
    }
    .border-start {
        border-left: none !important;
        border-right: none !important
    }
    .login-banner .left-sec h1 br {
        display: none
    }
    .login-banner .left-sec img {
        width: 350px
    }
    h1 {
        font-size: 32px
    }
    h2 {
        font-size: 24px
    }
    h3 {
        font-size: 20px
    }
}

@media(max-width:576px) {
    .fs-36px{
        font-size:28px;
    }
    .top-sorting .dropdown,
    .top-sorting .dropdown button {
        margin-top: .5rem
    }
    .login-banner .left-sec img {
        width: 250px
    }
    .index-banner img {
        width: 30px;
        height: 30px
    }
    .accordion-button {
        padding: .5rem 1rem
    }
    h1 {
        font-size: 28px
    }
    h2 {
        font-size: 20px
    }
    h3 {
        font-size: 16px
    }
}